body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/*background-color: #333;*/
}
@font-face{
    font-family: "BlackOpsOne-Regular";
    src: url("../webfonts/Unlock-Regular.ttf");
}
#home {
    width: 100%;
    position: relative;
}
/*.mltr {
	margin: 0 7%;
}*/
#strip {
    width: 100%;
    height: 70px;
    background: #fd9f05;
    box-shadow: 0px -2px 5px 0px rgb(0, 0, 0);
    padding: 0 40px;
    box-sizing: border-box;
}
#logo {
    float: left;
    height: 50px;
    color: #fff;
    width: 5%;
    position: absolute;
    line-height: 95px;
}
#logo img {
    width: 100%;
}
.bars 
{
    float: right;
    line-height: 50px;
    display: none;
}
.bars i {
    color: #fff;
    font-size: 24px;
}
nav {
    float: right;
    line-height: 42px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 0 20px;
    font-size: 18px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
/*=========================================================================================
 swiper css start
*========================================================================================*/

 html, body {
      position: relative;
      /*height: 520px;*/
      scroll-behavior: smooth;
    }
    body {
      backgr/*ound: #eee;*/
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /*background: #fff;*/
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.black {
     width: 100%;
    height: 422px;
    background: #00000096;
    position: absolute;
}
.h-cont {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    color: #fff;
}
.h-cont h1, h2 { font-weight: 100; letter-spacing: 3px; }
.h-cont a {
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    padding: 8px 14px;
    border: 1px solid #fff;
    border-radius: 34px;
    letter-spacing: 2px;
    outline: none;
}
.h-cont h2 {
    padding-bottom: 30px;
}
/*=========================================================================================
 swiper css end
*========================================================================================*/


/*=========================================================================================
 Portfolio css end
*========================================================================================*/

.portfolio {
    /*background: #333;*/
    /*overflow: hidden;*/
    /*height: 550px;*/
}
.heading {
    text-align: center;
    font-size: 35px;
    color: #fff;
    letter-spacing: 3px;
    padding: 45px;
    /*padding-top: 20px;*/
    /*font-weight: bold;*/
}
.mltr {
    /*margin: 0 7%;*/
}
/*.btnselector  {
    width: 50%;
    margin: 0 auto;
}
.btnselector a {
    padding: 8px 16px;
    background: #92908d;
    border: 0px;
    letter-spacing: 1.5px;
    font-size: 18px;
    border-radius: 20px;
    margin: 2px;
    color: #fff;
    text-decoration: none;
}*/
.container {
    width: 90%;
    margin: 10px auto;
}
.portfolio-menu {
    text-align: center;
}
.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid tomato;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.portfolio-menu ul li:hover {
    background: tomato;
    color: #fff;
}
.portfolio-item {
    width: 100%;
}
.portfolio-item .item {
    width: 303px;
    float: left;
    margin-bottom: 10px; 
}
.item img {
    width: 100%;
}
li .active {
    background: tomato;
    color: #fff;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}
.main h2 {
    text-align: center;
    font-size: 35px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
/*=========================================================================================
 Portfolio css end
*========================================================================================*/

/*=========================================================================================
 Portfolio css Start
*========================================================================================*/
.contact {
    width: 100%;
    height: 500px;
    position: relative;
    clear: both;
    background-image: url(../images/sb1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 35px;

}
.contact .mltr {
  margin: 0 7%;
}
.about {
  background-image: url(images/about-me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed;
}
.bgcolor2 {
    background: #00000080;
    overflow: hidden;
    padding-bottom: 67px;
}
.contact-L {
    float: left;
    width: 20%;
    height: 200px;
    padding: 26px;
    background: #fd9f05;
    box-shadow: 0 0 9px 5px rgba(0,0,0,.5);
    position: absolute;
    top: 145px;
    color: #fff;
}
.contact-R {
  position: relative;
    float: right;
    width: 50%;
    background: #fd9f05;
    padding: 30px;
    box-shadow: 0 0 9px 5px rgba(0,0,0,.5);
}
.input {
    width: 100%;
    position: relative;
    overflow: hidden;
}
label {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
}
input {
    width: 86%;
    padding: 18px;
    margin: 10px 0;
    margin-left: 22px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
}
input#message {
    margin-left: 15px;
}
input::placeholder {
  color: #fd9f05;
  letter-spacing: 2px;
}

button#send {
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #ff7000;
    background: #ff7000;
    margin: 10px 0;
    margin-left: 23px;
    outline: none;
    cursor: pointer;
}
.p2 {
  float: left;
  display: block;
  margin: 7px 0;
/*  font-size: 15px;*/
}
#p6 b {
    font-size: 23px;
}
#p7 b {
    font-size: 19px;
}
#p8 b {
    font-size: 30px;
}
#p9 b {
    font-size: 26px;
}
#p10 b {
    font-size: 20px;
}
/*=========================================================================================
 Portfolio css end
*========================================================================================*/

/*=========================================================================================
 Footer css Start
*========================================================================================*/
footer {
    width: 100%;
    height: 65px;
    background: #1d1d1d;
}
p#p11 {
    color: #9c9c9c;
    text-align: center;
    font-size: 20px;
    line-height: 65px;
    letter-spacing: 2px;
    margin: 0;
}
p#p11 span {
    color: #ffffff;
}

/*=========================================================================================
 Footer css end
*========================================================================================*/
.s-a-image {
    width: 253px;
    float: left;
    height: 375px;
    overflow: hidden;
    box-shadow: 0 0 9px 5px rgba(0,0,0,.5);
}
.a-image img {
    width: 100%;
}
.info-contact {
    float: right;
    width: 60%;
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    background: #fff;
    padding: 35px;
    position: relative;
    top: 36px;
    box-shadow: 0 0 9px 5px rgba(0,0,0,.5);
}
#btn5 {
    background: #fe824d;
    color: #fff;
    border: 2px solid #fe824d;
}
.swiper-slide iframe {
  width: 100%;
}
div#s-a-heading {
  color: #000;
}
.self-about {
    width: 100%;
    height: 100%;
    clear: both;
    background: whitesmoke;
    overflow: hidden;
    padding-bottom: 65px;
}
.self-about .mltr {
  margin: 0 7%;
}
/*skills bar section */

section {
    width: 100%;
    height: 373px;
    padding-bottom: 20px;
}
section .mltr {
  margin: 0 7%;
}
.skillsHeading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.skillsHeading h1 {
    font-size: 35px;
    font-weight: 100;
}
.skillsDetails {
    width: 40%;
    float: left;
}
.Bar {
    width: 50%;
    float: right;
}
.skills {
    list-style: none;
}
.skills li {
    position: relative;
    margin-bottom: 20px;
    background: #bdc3c7;
    height: 42px;
    border-radius: 3px;
    overflow: hidden;
}
.photoshop {
    background: #1abc9c;
    width: 60%;
    -moz-animation: photoshop 2s ease;
    -webkit-animation: photoshop 2s ease;
}
.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #34495e;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}
.skills li em {
    color: #fff;
    font: 15px/42px "Open Sans",sans-serif;
    letter-spacing: 2px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
}
.skillsDetails p {
  font-size: 18px;
  font-weight: 100;
  color: gray;
  letter-spacing: 2px;
  line-height: 1.5;
}
.illustrator {
    background: #e74c3c;
    width: 55%;

    -moz-animation: illustrator 2s ease;
    -webkit-animation: illustrator 2s ease;
}
.wordpress {
    background: #34495e;
    width: 50%;
    -moz-animation: wordpress 2s ease;
    -webkit-animation: wordpress 2s ease;
}
.css {
    background: #3498db;
    width: 90%;
    -moz-animation: css 2s ease;
    -webkit-animation: css 2s ease;
}
.html5 {
    background: #d35400;
    width: 80%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}
.jquery {
    background: #9b59b6;
    width: 50%;
    -moz-animation: jquery 2s ease;
    -webkit-animation: jquery 2s ease;
}